.footer {
    border-top: 2px #C7B198 solid;
    background: $footerColor;
    height: 8rem;
}

.div__footer {
    background: $footerColor;    
    .div_contacto {
        background: $footerColor;
        .footer__div--h4 {
            background-color: $footerColor;
            margin: 5px;
        }
        
        .footer__div--p {
            background-color: $footerColor;
            margin: 5px;
        }         
    }
    .div_mapa {
        margin: 10px 0px;
        background: $footerColor;
    }
    
    .div_redes {
    margin-bottom: 22px;
    background: $footerColor;
    }
}

.footer__div--h4 {
    background-color: $footerColor;
    margin: 5px;
}

.footer__div--p {
    background-color: $footerColor;
    margin: 5px;
} 

