.navbar-light .navbar-nav .nav-link{
    color: black;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link{
    &:hover{
    @include animacionHeader; 
    }
    &:focus {
    @include animacionHeader;
    }
}
.navbar-nav a{
    margin: 5px;
    padding: 5px;
    border-right: rgba(65, 65, 65, 0.667) 2px dashed;
    border-left: rgba(65, 65, 65, 0.667) 2px dashed;
}



