.card-group>.card+.card {
    border-left: 2px solid black;
}

.card {
    margin: 0 15px;
    border: 2px solid black;
    @extend %imgEstilos;
    .div__ul {
        list-style: none;
        margin-left: -30px;
        .div__negrita {
        @extend %negrita;
        }
    }
}

.btn_estilos {
    margin-left: 20px;
    @include botones;
}

.caja-estilos {
    height: 350px;
    overflow: auto;
}

.caja-estilos::-webkit-scrollbar {
    &:vertical {
        width: 10px;
    }
    -webkit-appearance: none;
}

.caja-estilos::-webkit-scrollbar-thumb {
    background-color: $footerColor;
    border-radius: 20px;
    border: 2px solid gray;
}

.row>* {
    overflow: hidden;
}



