.fa-whatsapp {
    font-size: 60px;
    color: white;
}

.fixed {
    position: fixed;
    right: 200px;
    bottom: 10px;
    z-index: 1;
    background-color: #25D366;
    padding: 15px;
    border-radius: 50%;
}