/* Responsive */

@media only screen and (max-width : 750px) {
    .navbar-brand {
        margin: 0 auto;
    }

    .imgIndex {
        width: 100%;
        height: 150px;
    }

    .contenidoNosotros {
        width: 300px!important;
        height: 200px!important;
        overflow: auto;
    }

    .formulario input {
        width: 250px;
    }
    
    .formulario input:nth-child(9) {
        height: 150px;
    }

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .btn_estilos {
        margin-left: 3px!important;
        padding: 0!important;
        font-size: 14px!important;
    }
}

@media only screen and (max-width : 1024px) {
    .fa-whatsapp {
        font-size: 60px;
        color: #25D366;
    }

    
    .fixed {
        right: 0px;
        bottom: 70px;
        background-color: transparent;
    }
}

@media only screen and (max-width : 425px) {
    .fixed {
        right: 0px;
        bottom: 70px;
        background-color: transparent;
    }

    .div_mapa {
        display: none;
    }
}

@media only screen and (max-width : 375px) {
    .fixed {
        right: 60px;
        bottom: 10px;
        background-color: transparent;
    }

    .div_contacto {
        overflow: visible;
    }

    .div_mapa {
        display: none;
    }
}